@import '../../node_modules/swiper/swiper-bundle';
@import '../../node_modules/reset.css/reset';
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');
@import '_fonts';

/**********************
    **********************
        VARIABLES
    **********************
**********************/
$white: #fff;
$black: #000;
$bg_dark: #051A3C;
$link: #051A3C;
$text: #656565;
$title: #1F1F1F;
$font_arsenal: 'Arsenal', sans-serif;
$font_futura: 'Futura PT', sans-serif;


/**********************
    **********************
        MIXINS
    **********************
**********************/
@mixin font($fn, $fz, $fw, $lh, $clr) {
    font-family: $fn;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: $clr;
}

@mixin pseudo($url, $w, $h) {
    content: '';
    position: absolute;
    background-image: $url;
    background-size: cover;
    background-repeat: no-repeat;
    width: $w;
    height: $h;
}


/**********************
    **********************
        TEMPLATES
    **********************
**********************/


/**********************
    **********************
        GLOBAL
    **********************
**********************/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include font($font_futura, 16, 400, 1.2, $text)
}


img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $link;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {}

.header.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header.sticky+.main {
    padding-top: 177px;
}

.footer {
    margin-top: auto;
}


/**********************
    **********************
        NAVBAR TOP
    **********************
**********************/

.logo {
    max-width: 438px;
}

.navbar__top {
    background: $white;
    padding: 11px 0;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-item {
        display: flex;
        flex-direction: column;
    }

    &-item a {
        @include font($font_arsenal, 22px, 700, null, $title);
        position: relative;
    }

    &-item-phone {
        padding-left: 30px;
    }

    &-item-phone::before {
        @include pseudo(url('../images/phone.svg'), 22px, 23px);
        left: 0;
        top: 50%;
        transform: translateY(-50%)
    }

    &-suptitle {
        @include font(null, 15px, 400, 160%, null);
    }

    &-item-lang {
        padding-right: 25px;
        position: relative;
    }

    &-item-lang::after {
        @include pseudo(url('../images/arrow-triangle-dark.svg'), 13px, 8px);
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }

    &-item-lang__inner {
        position: absolute;
        left: -10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: $white;

        height: 0;
        overflow: hidden;
        transition: .3s all;
    }

    &-item-lang__inner.active {
        height: 95px;
    }

    &-item-lang__inner span {
        padding: 10px;
    }

    &-item-lang__inner span:not(:last-child) {
        border-bottom: 1px solid $black;
    }
}


/**********************
    **********************
        NAVBAR
    **********************
**********************/
.navbar {
    background: $bg_dark;
    padding: 22px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    & a {
        color: $white;
    }

    &__inner {
        display: flex;
        gap: 39px;
    }

    &__inner-items {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__inner-items a.navbar__inner-item {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    &__inner-items a.navbar__inner-item span {
        display: block;
        width: 30px;
        height: 4px;
        background: $white;
        border-radius: 10px;
    }
}

.menu__list {
    @include font($font_arsenal, 18px, 700, 160%, $white);
    display: flex;
    align-items: center;
    gap: 31px;
    justify-content: space-between;

    &-item {}

    &-link {
        position: relative;
        padding-right: 35px;
    }

    &-link::after {
        @include pseudo(url('../images/arrow-triangle.svg'), 14px, 8px);
        right: 0;
        top: 50%;
        transform: translateX(-50%);
    }
}

/**********************
    **********************
        HEADER CONTENT
    **********************
**********************/
.header {
    &__content-slider {}

    &__content-slider__item {
        position: relative;
        width: 100%;
    }

    &__content-slider__img {
        max-height: 802px;
        overflow: hidden;
        position: relative;
    }

    &__content-slider__img::after {
        @include pseudo(null, 100%, 100%);
        background: #000;
        opacity: .4;
        left: 0;
        top: 0;
    }

    &__content-slider__img::before {
        content: '';
        position: absolute;
        display: block;
        background: linear-gradient(to right, rgba(0, 0, 0, .6) 0, transparent 100%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 0;
    }



    &__content-slider__img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__content-slider-text__cover {
        position: absolute;
        top: 17%;
        left: 18.3%;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__content-title {
        @include font($font_arsenal, 40px, 700, 120%, $white);
        max-width: 573px;
        padding-bottom: 33px;
        margin-bottom: 10px;
        position: relative;
    }

    &__content-title::before {
        @include pseudo(null, 30%, 3px);
        background: $white;
        left: 0;
        bottom: 0;
    }

    &__content-subtitle {
        @include font(null, 20px, null, 160%, $white);
        max-width: 580px;
    }

    &__content-btn {
        @include font(null, 19px, 700, 160%, $white);
        position: relative;
        padding: 13px 26px;
        padding-right: 63px;
        border: 2px solid $white;
        border-radius: 10px;
        width: 20%;
    }

    &__content-btn::after {
        @include pseudo(url('../images/arrow.svg'), 21px, 15px);
        right: 20px;
        top: 51%;
        transform: translateY(-50%);
    }
}