<!--=include header.html -->

<main class="main">
    <section class="header__content">
        <div class="header__content-wrapper">
            <div class="header__content-slider">

                <div class="header__content-slider__item">
                    <div class="header__content-slider__img">
                        <img src="../images/header-slide-1.jpg" alt="slider-1">
                    </div>
                    <div class="header__content-slider-text__cover">
                        <h1 class="header__content-title title">
                            Узбекистан и Япония открывают новые направления партнерства
                        </h1>
                        <p class="header__content-subtitle subtitle">
                            25 октября состоялось 16-ое заседание Узбекско-Японского и Японско-Узбекского
                            комитетов по экономическому...
                        </p>
                        <a class="header__content-btn" href="#">
                            Подробнее
                        </a>
                    </div>
                </div>


                <div class="header__content-slider__item">
                    <div class="header__content-slider__img">
                        <img src="../images/header-slide-2.jpg" alt="slider-2">
                    </div>
                    <div class="header__content-slider-text__cover">
                        <h1 class="header__content-title title">
                            Узбекистан и Япония открывают новые направления партнерства
                        </h1>
                        <p class="header__content-subtitle subtitle">
                            25 октября состоялось 16-ое заседание Узбекско-Японского и Японско-Узбекского
                            комитетов по экономическому...
                        </p>
                        <a class="header__content-btn" href="#">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->